header{
    background-color: #BB8588;
    color:#EFEBCE;
}
header>img{
    max-width: 20rem;
}
nav{
    color:#EFEBCE;
    text-align: end;
    justify-content: center;
}
body{
    font-family: 'Unna', serif;
    background-color:#EFEBCE;
}
div{
    background-color: #A3A380;
}
footer{
    background-color: #BB8588;
    color:#EFEBCE;
}